body {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  background-color: #011F3F;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

#level-title {
  font-size: 2.5rem;
  margin: 4%;
  color: #fef2bf;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.btn {
  margin: 15px;
  display: inline-block;
  height: 150px;
  width: 180px;
  border-radius: 20%;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

footer {
  margin: 15px;
  font-size: 1.5rem;
  color: #fef2bf;
}

@media (max-width: 768px) {
  .btn {
    margin: 10px;
    height: 100px;
    width: 130px;
  }

  #level-title {
    font-size: 1.8rem;
  }

  footer {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .btn {
    height: 80px;
    width: 110px;
    margin: 8px;
  }

  #level-title {
    font-size: 1.5rem;
  }

  footer {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}